init_config:

instances:
  ## @param db - string - required
  ## The name of the database to establish a connection with.
  #
  - db: <DATABASE_NAME>

  ## @param username - string - required
  ## The database user to authenticate as.
  #
    username: <USERNAME>

  ## @param password - string - required
  ## The password of `username`.
  #
    password: <PASSWORD>

  ## @param host - string - optional
  ## The hostname used to connect to a remote or uncataloged database.
  #
  #  host: <HOSTNAME>

  ## @param port - string - optional - default: 50000
  ## The port used to connect to a remote or uncataloged database.
  #
  #  port: 50000

  ## @param tags - list of key:value string - optional
  ## List of tags to attach to every metric and service check emitted by this instance.
  ##
  ## Learn more about tagging at https://docs.datadoghq.com/tagging
  #
  #  tags:
  #    - <KEY_1>:<VALUE_1>
  #    - <KEY_2>:<VALUE_2>

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel - mandatory - Set port if type is tcp or udp, path if type is file, or channel if windows_event
## service - mandatory - Name of the service owning the log
## source - mandatory - Attribute that defines which Integration is sending the logs
## sourcecategory - optional - Multiple value attribute. Can be used to refine the source attribute
## tags - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - source: ibm_db2
#     type: file
#     path: /home/db2inst1/sqllib/db2dump/db2diag.log
#     service: db2sysc
